<!DOCTYPE HTML>
<!--
	Epilogue by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Dashboard</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="/static/assets/css/main.css" />
		<link rel = "stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"/>
	</head>
	<body class = "well well-sm">

		<!-- Header -->
			<header id="header" class="alt">
				<div class="inner">
					<h1>Dashboard(Beta_v2)</h1>
					<p>A web app from DWA to promote efficient working.</p>
				</div>
			</header>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Banner -->
					<section id="intro" class="main">
						<span class="icon fa-diamond major"></span>
						<h2>Por cierto!!</h2>
						<p>The Four Keys of Great Managers: (1) When selecting someone, they select for talent not simply experience, intelligence or determination. (2) When setting expectations, they define the right outcomes not the right steps. (3) When motivating someone, they focus on strengths not on weaknesses. and (4) When developing someone, they help him find the right fit not simply the next rung on the ladder.” -Marcus Buckingham.</p>
						<ul class="actions">
							<li><a href="/next/" class="button big">Let's get started!!</a></li>
						</ul>
					</section>
			</div>

		<!-- Footer -->
					<footer id="footer">
						<ul class="icons">
							<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="#" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
							<li><a href="#" class="icon fa-envelope"><span class="label">Email</span></a></li>
						</ul>
					</footer>

		<!-- Scripts -->
			<script src="/static/assets/js/jquery.min.js"></script>
			<script src="/static/assets/js/skel.min.js"></script>
			<script src="/static/assets/js/util.js"></script>
			<script src="/static/assets/js/main.js"></script>

	</body>
</html>